/* You can add global styles to this file, and also import other style files */

:root {
  --dark-text: #202020;
  --header-color: #013243;
  --light-text: #bdc3c7;

  --hue: 0;
  --saturation: 80%;
  --lightness: 47%;

  /* this is the roration of the compass */
  --rotation: 0;

  /* rotation of the pointer */
  --compass-rotation: 0deg;
  --compass-red: hsla(var(--hue), var(--saturation), var(--lightness), 1);
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #EEEEEE;
  color: var(--dark-text);
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-container > *:last-child {
  flex: 1 1 auto;
}

app-tracker {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

router-outlet {
  display: none;
}

app-body {
  background-color: #000000;
  color: var(--light-text);
}
