/* You can add global styles to this file, and also import other style files */

:root {
  --dark-text: #202020;
  --light-text: #EEEEEE;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #EEEEEE;
  color: var(--dark-text);
}

html, body {
  margin: 0;
  padding: 0;
}