/* You can add global styles to this file, and also import other style files */

:root {
  --dark-text: #202020;
  --header-color: #013243;
  --light-text: #bdc3c7;

  --hue: 0;
  --saturation: 80%;
  --lightness: 47%;

  /* this is the roration of the compass */
  --rotation: 0;

  /* rotation of the pointer */
  --compass-rotation: 0deg;
  --compass-red: hsla(var(--hue), var(--saturation), var(--lightness), 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #eeeeee;
  color: var(--dark-text);
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
}

body {
  height: 100vh;
}

.flex-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.flex-container > *:last-child {
  flex: 1 1 auto;
}

app-login {
  display: flex;
  justify-content: center;
  align-items: center;
}

app-tracker {
  display: grid;
  grid-template-columns: minmax(300px, 1fr) 3fr;
  grid-template-rows: auto;
}

@media screen and (max-width: 769px) {
  app-tracker {
    grid-template-rows: 1fr 2fr;
    grid-template-columns: auto;
  }
}

router-outlet {
  display: none;
}

app-body {
  background-color: #000000;
  color: var(--light-text);
  position: relative;
}

.carbon {
  background:
    linear-gradient(27deg, #151515 5px, transparent 5px) 0 5px,
    linear-gradient(207deg, #151515 5px, transparent 5px) 10px 0px,
    linear-gradient(27deg, #222 5px, transparent 5px) 0px 10px,
    linear-gradient(207deg, #222 5px, transparent 5px) 10px 5px,
    linear-gradient(90deg, #1b1b1b 10px, transparent 10px),
    linear-gradient(
      #1d1d1d 25%,
      #1a1a1a 25%,
      #1a1a1a 50%,
      transparent 50%,
      transparent 75%,
      #242424 75%,
      #242424
    );
  background-color: #131313;
  background-size: 20px 20px;
}
