#tracker-map {
  height: 100%;
}

.auto-zoom {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  background-color: var(--light-text);
  border: 1px solid var(--dark-text);
  border-radius: 3px;

  padding: 0.5em;

  z-index: 9999;
}
