#tracker-map {
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 0;

  position: absolute;
}

.code-word {
  padding: 1em 2em;
  border: 5px solid var(--white);
  box-shadow: 0 0 8px rgba(0,0,0,0.23);
  border-bottom-color: var(--compass-red);
  border-radius: 1em;

  font-weight: bold;
  font-size: 100%;
  text-transform: uppercase;
  position: absolute;

  color: var(--dark-text);

  max-width: 20em;
  width: 90vw;

  bottom: 3em;
  left: 5vw;

  background-color: rgba(255, 255, 255, .7);
  backdrop-filter: blur(3px);
}

.code-word:before {
  content: 'Code:';
  font-size: 50%;
  font-weight: lighter;
  position: absolute;
  text-transform: initial;
  top: .75em;
  left: 1em;
}
