<div class="text-container">
  <h2>Welkom op stamtour.nl!</h2>
  <h3>De auto tour van de S5 Stam</h3>

  <div>
    <dl>
      <dt>Wat:</dt>
      <dd>S5Stam autospeurtocht</dd>

      <dt>Wanneer:</dt>
      <dd>Zondag 7 april 2024</dd>

      <dt>Kosten tocht:</dt>
      <dd>17,5 euro per auto</dd>

      <dt>Kosten BBQ:</dt>
      <dd>20 euro p.p.</dd>

      <dt>Opgeven:</dt>
      <dd>
        <a href="https://forms.gle/LqUYFRBxSFy3L38H8" target="_blank"
          >Dat kan hier!</a
        >
      </dd>
    </dl>
  </div>

  <h3>Handige links!</h3>
  <p><a [routerLink]="'/gps'">Deze pagina</a> heb je nodig tijdens de route.</p>
  <br />
  <p><a class="call-to-action" [routerLink]="'/gps'">Of klik hier!</a></p>
  <br />
  <h4>Stamleden</h4>
  <p>Ben je stamlid? Klik dan <a [routerLink]="'/tracker'">hier</a> ⬅ daar.</p>
</div>
