<div class="text-container">
  <h2>Welkom op stamtour.nl!</h2>
  <h3>De auto tour van de S5 Stam</h3>

  <div>
    <dl>
      <dt>Wat:</dt>
      <dd>S5Stam autospeurtocht</dd>

      <dt>Wanneer:</dt>
      <dd>(Zaterdag 9 april en) zondag 10 april 2022</dd>

      <dt>Kosten tocht:</dt>
      <dd>15 euro per auto</dd>

      <dt>Kosten BBQ:</dt>
      <dd>15 euro p.p.</dd>

      <dt>Kosten overnachting inclusief ontbijt op zondag:</dt>
      <dd>10-15 euro p.p.</dd>

      <dt>Opgeven:</dt>
      <dd><a href="https://forms.gle/VHpRSfoWd7hy8UqAA" target="_blank">Dat kan hier!</a></dd>
    </dl>
  </div>

  <h3>Handige links!</h3>
  <p>Rijdt je de avond route? <a [routerLink]="'/code'">Deze link</a> is dan erg handig!</p>
  <p>Rijdt je de normale route? Dan heb je <a [routerLink]="'/gps'">deze link</a> nodig!</p>
  <p>Ben je stamlid? Klik dan <a [routerLink]="'/tracker'">hier</a> ⬅ daar.</p>
</div>
