<div class="text-container">
  <h2>Welkom op stamtour.nl!</h2>
  <h3>De auto tour van de S5 Stam</h3>

  <div>
    <dl>
      <dt>Wat:</dt>
      <dd>S5Stam autospeurtocht</dd>

      <dt>Wanneer:</dt>
      <dd>(Zaterdag 9 april en) zondag 10 april 2022</dd>

      <dt>Kosten tocht:</dt>
      <dd>15 euro per auto</dd>

      <dt>Kosten BBQ:</dt>
      <dd>15 euro p.p.</dd>

      <dt>Kosten overnachting inclusief ontbijt op zondag:</dt>
      <dd>10-15 euro p.p.</dd>

      <dt>Opgeven:</dt>
      <dd>
        <a href="https://forms.gle/VHpRSfoWd7hy8UqAA" target="_blank"
          >Dat kan hier!</a
        >
      </dd>
    </dl>
  </div>

  <h3>Handige links!</h3>
  <!-- <h4>Avond route</h4>
  <p>
    Download de avond route bestanden op 9 april 2022 vanaf 20:00!
    <ng-container *ngIf="eveningRouteUnlocked$ | async">
      <ul>
        <li>
          <a
            href="/assets/intro.pdf"
            download="Stamtour Avondroute introductie.pdf"
            >Introductie</a
          >
        </li>
        <li>
          <a href="/assets/opdr1.pdf" download="Stamtour Opdracht 1.pdf"
            >Opdracht 1</a
          >
        </li>
        <li>
          <a href="/assets/opdr2.pdf" download="Stamtour Opdracht 2.pdf"
            >Opdracht 2</a
          >
        </li>
        <li>
          <a href="/assets/opdr3.pdf" download="Stamtour Opdracht 3.pdf"
            >Opdracht 3</a
          >
        </li>
      </ul>
    </ng-container>
  </p> -->
  <!-- <p>
    Controleer <a [routerLink]="'/code'">op deze pagina</a> of je de goede code
    hebt!.
  </p> -->
  <h4>Normale route</h4>
  <p>
    Het startpunt van de normale route is beschikbaar op 10 april 2022 vanaf
    8:30.
    <ng-container *ngIf="dayRouteUnlocked$ | async">
      <br /><br />
      <b>Scoutcentrum achter de berg</b><br />
      Achter de Berg 16<br />
      5388 TS, Nistelrode<br />
      Nederland<br />
    </ng-container>
  </p>
  <p><a [routerLink]="'/gps'">Deze pagina</a> heb je nodig tijdens de route.</p>
  <h4>Stamleden</h4>
  <p>Ben je stamlid? Klik dan <a [routerLink]="'/tracker'">hier</a> ⬅ daar.</p>
</div>
