header {
  background-color: var(--header-color);
  color: var(--light-text);
  overflow: hidden;

  flex: 0 0 auto;
}

header h1 {
  color: var(--light-text);
  background-color: var(--dark-text);

  margin: 0;
  padding: .5em;

  font-size: 1.5em;
  text-align: center;
}
