header {
  background-color: var(--header-color);
  color: var(--light-text);
  overflow: hidden;

  grid-row: 1;
}

app-side-bar {
  grid-row: 2;
  overflow: auto;
}

app-map {
  grid-row: 2;
  position: relative;
}
