.compass-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  min-height: 60vh;

  --white: #FFFFFF;

  color: var(--white);
}

.compass-wrap {
  --compass-size: calc(100vw / 1.75);

  --white: #FFFFFF;

  position: relative;
  width: var(--compass-size);
  height: var(--compass-size);
  pointer-events: none;
  margin: 1.5em;
}
.compass {
  position: absolute;
  width:100%;
  height:100%;


  border-radius: 0 50% 50% 50%;
  border: 10px solid var(--white);
  box-shadow: 0 0 8px rgba(0,0,0,0.23);
  border-right-color: var(--compass-red);
  border-bottom-color: var(--compass-red);
  box-sizing: border-box;
  transform: rotate(var(--compass-rotation));
  transition: transform .5s ease;
}
.compass-msg {
  position: absolute;
  width:100%;
  height:100%;
  line-height: var(--compass-size);
  text-align: center;
  font-weight: 300;
  font-size: 200%;
}

@media all and (max-height: 550px) {
  .compass-wrap {
    --compass-size: 200px;
  }
}
@media all and (min-width: 450px) {
  .compass-wrap {
    --compass-size: 300px;
  }
}

.code-word {
  padding: 1em 2em;
  border: 5px solid var(--white);
  box-shadow: 0 0 8px rgba(0,0,0,0.23);
  border-bottom-color: var(--compass-red);
  border-radius: 1em;

  font-weight: bold;
  font-size: 150%;
  text-transform: uppercase;
  position: relative;
}
.code-word:before {
  content: 'Code:';
  font-size: 50%;
  font-weight: lighter;
  position: absolute;
  text-transform: initial;
  top: .75em;
  left: 1em;
}
