.toast {
  --bg-color: #FFFFFF;
  --text-color: #202020;

  padding: 1em;
  border-radius: .25em;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

  color: var(--text-color);
  background-color: var(--bg-color);

  position: absolute;
  bottom: 0;
  right: 0;

  z-index: 1000;

  margin: 1em;
}

.toast h1 {
  font-size: 105%;
  margin: 0;
  padding: 0;

  border-bottom: 1px solid var(--text-color);

  margin-bottom: .5em;
  padding-bottom: .25em;
}
.toast p {
  margin: 0;
}


.normal {
  --bg-color: #ecf0f1;
}

.info, .error, .success {
  --text-color: #FFFFFF;
}
.info {
  --bg-color: #5333ed;
}
.error {
  --bg-color: #d91e18;
}
.success {
  --bg-color: #2ecc71;
}
