ul {
  --accent-color: #757575;
  --off-line: #F22613;
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  padding: .5em;
  background-color: white;
  border-bottom: 1px solid var(--accent-color);
  border-radius: 3px;
}

li:not(:last-of-type) {
  margin-bottom: .5em;
}

.pos-rel {
  position: relative;
}

button {
  position: absolute;
  right: 0;
  top: 0;

  border-radius: 4px;
  border: none;
  padding: .5em .75em;

  color: white;
  background-color: var(--header-color);

  transition: background-color .25s ease-in-out;
}
button:hover {
  background-color: #202099;
}

.off-line {
  border-bottom: 2px solid var(--off-line);
}

p {
  margin: 0;
}

.primary {
  font-weight: bold;
  margin-bottom: .5em;
  padding-left: 25px;
  position: relative;
}

.off-line .primary {
  color: var(--off-line);
}

/* making a pin */
.primary:after {
  content: '';
  background: var(--accent-color);
  width: 16px;
  height: 16px;
  position: absolute;
  left: 0;
  top: 2px;
  border-radius: 50% 50% 50% 0%;
  transform: rotate(-45deg);
}
.primary:hover:after {
  background: #2c82c9;
}

.off-line .primary:after {
  background: var(--off-line);
}

.primary:before {
  content: '';
  background: white;
  width: 6px;
  position: absolute;
  height: 6px;
  left: 5px;
  border-radius: 50%;
  top: 7px;
  z-index: 1;
}

.secondary {
  font-size: 75%;
  color: var(--accent-color);
}
