<ul>
  <ng-container *ngIf="listData$ | async as list">
    <li *ngIf="list.length === 0">No connected users.</li>

    <li
      *ngFor="let position of list"
      [ngClass]="{
        'off-line': position.isOnline === false,
        'gps-started': position.gpsStarted === true
      }"
      (contextmenu)="removeOffline(position.user, $event)"
    >
      <div class="pos-rel">
        <p class="primary">{{ position.user.name }}</p>
        <p class="secondary">
          Last update: {{ position.date | date: "HH:mm:ss" }}, post:
          {{ position.waypoint }}/{{ totalPost }}
        </p>
        <button
          *ngIf="position.isOnline === false"
          (click)="removeOffline(position.user, $event)"
        >
          DEL
        </button>
        <button
          *ngIf="position.isOnline === true"
          (click)="startRouteFor(position.user)"
        >
          START
        </button>
      </div>
    </li>
  </ng-container>
</ul>
