<div class="centered">
  <div class="names">
    <p>
      Vul hieronder je naam in om te beginnen. Je locatie wordt verstuurd naar
      een server, zodat de blokhut kan zien waar je bent. De locatie word
      <em>niet</em> opgeslagen.
    </p>
    @if ((geoStatus | async) !== "granted") {
      <p>
        <strong
          >Vergeet niet om toestemming te geven voor het delen van de
          locatie!</strong
        >
      </p>
    }

    <div class="body-input-wrapper">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <span>
          <label class="body-label" for="name">Vul je naam in*:</label><br />
          <input
            class="body-input"
            minlength="4"
            maxlength="35"
            type="text"
            id="name"
            name="username"
            formControlName="username"
          />
          <ng-container
            [ngTemplateOutlet]="controlError"
            [ngTemplateOutletContext]="{
              $implicit: loginForm.controls.username
            }"
          ></ng-container>
        </span>
        <span>
          <label class="body-label" for="pin">Vul een pincode in*:</label><br />
          <input
            class="body-input"
            minlength="3"
            maxlength="10"
            type="text"
            id="pin"
            name="pin-code"
            formControlName="pinCode"
          />
          @if (
            loginForm.controls.pinCode.valid ||
            loginForm.controls.pinCode.untouched
          ) {
            <span class="input-hint">
              Gebruik niet je normale wachtwoord, gewoon een simpel getal is
              voldoende.
            </span>
          }
          <ng-container
            [ngTemplateOutlet]="controlError"
            [ngTemplateOutletContext]="{
              $implicit: loginForm.controls.pinCode
            }"
          ></ng-container>
        </span>
        <button class="body-button" type="submit" id="send-name">Login</button>
      </form>
    </div>
  </div>
</div>

<<ng-template #controlError let-control>
  <span class="input-error">
    @if (control.touched && control.errors) {
      @if (control.hasError("required")) {
        Veld is verplicht.
      } @else {
        @if (control.hasError("minlength")) {
          Minimaal {{ control.errors.minlength.requiredLength }} karakters
          nodig.
        }
      }
    }
  </span>
</ng-template>
