:host {
  display: flex;

  align-items: flex-start;
  justify-content: center;

  font-size: 1.5rem;
}

.container {
  padding: 1em;

  display: grid;
  grid-auto-rows: auto;

  max-width: 15em;

  gap: 2em;
}

button,
input {
  font-size: inherit;
}

input {
  width: 100%;
}

.input-area {
  display: flex;
  flex-direction: column;
  gap: 1em;

  align-items: center;

  justify-content: baseline;
}
