.centered {
  padding: 2em 1em;
  font-size: 14pt;
  z-index: 1;
  position: relative;
  height: 100%;
}

.body-input-wrapper {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  gap: 1rem;

  max-width: 600px;
}
.body-input-wrapper form {
  display: contents;
}

.body-label {
  grid-area: label;
}
.body-input {
  grid-area: input;
  width: 100%;
}
.body-button {
  grid-area: button;
  width: min(5rem, 50%);
}

.map-in-tracking-mode {

  background-color: rgba(0,0,0,.6);

  backdrop-filter: blur(3px) grayscale(1);
}

.centered input, .centered button {
  font-size: inherit;
}

.names p:first-of-type {
  margin-top: 0;
}

strong {
  color: white;
}

.small {
  font-size: 75%;
}

.dot-container {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 80vh;
}

.dot-container p {
  margin-top: 5em;
}

app-compass {
  width: 90vw;
  height: 90vw;

  max-width: 500px;
  max-height: 500px;
}

/*
.dot {
  background-color: #000000;

  height: 5em;
  width: 5em;

  border-radius: 50%;

  border-left: 1em solid #ecf0f1;
  border-top: 1em solid #f22613;
  border-right: 1em solid #eeeeee;
  border-bottom: 1em solid #f22613;

}

.dot-animation {
  animation: rotator 3s ease 0s infinite;
}

@keyframes rotator {
  80% {
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 var(--light-text);
  }

  100% {
    transform: rotate(360deg);
    box-shadow: 0 0 200px 0 var(--light-text);
  }
} */
