<div
  class="centered"
  [ngClass]="{ 'map-in-tracking-mode': tracking === trackingModes.TRACKING }"
>
  @if (tracking === trackingModes.NOT_STARTED) {
    <button (click)="start()">Start GPS</button>
  } @else {
    <!-- <div class="dot-container">
      <app-compass
        [inGameMode]="tracking === trackingModes.COMPASS"
      ></app-compass>
    </div> -->
    <app-gps-map
      [inGameMode]="tracking === trackingModes.COMPASS"
      (endFound)="onEndFound($event)"
    ></app-gps-map>
  }

  <app-display-on></app-display-on>
</div>
