<div class="centered" [ngClass]="{ 'map-in-tracking-mode': tracking === trackingModes.TRACKING }">
  <div *ngIf='tracking === trackingModes.NO_TRACKING' class="names">
    <p>Vul hieronder je naam in om te beginnen. Je locatie wordt verstuurd naar een server*,
      zodate de blokhut kan zien waar je bent. De locatie word <em>niet</em> opgeslagen.</p>
    <p><strong>Vergeet niet om toestemming te geven voor het delen van de locatie!</strong></p>

    <div class="body-input-wrapper">
      <label class='body-label' for="name">Vul je naam in:</label>
      <input class='body-input' type="text" id="name" name="username" [(ngModel)]='username'>
      <button  class='body-button' id="send-name" (click)='start()'>Start</button>
    </div>

    <p class="small">* Url: {{serverUrl}}</p>
  </div>

  <div *ngIf='tracking === trackingModes.TRACKING' class="dot-container">
    <app-compass [inGameMode]="tracking === trackingModes.COMPASS"></app-compass>
    <p>Veel plezier <b>{{username}}</b></p>
  </div>

  <app-display-on></app-display-on>
</div>

<app-gps-map
  *ngIf='tracking !== trackingModes.NO_TRACKING'
  [inGameMode]="tracking === trackingModes.COMPASS"
  (endFound)="onEndFound($event)"
></app-gps-map>
