<div class="centered">
  <div *ngIf='!tracking' class="names">
    <p>Vul hieronder je naam in om te beginnen. Je locatie wordt verstuurd naar een server*. 
      Op de blokhut zien dan mensen waar je bent. De locatie word <em>niet</em> opgeslagen.</p>
    <p><strong>Vergeet niet om toestemming te geven voor het delen van de locatie!</strong></p>
    <input type="text" name="username" [(ngModel)]='username'>
    <button id="send-name" (click)='start()'>Start</button>
    <p class="small">* Url: {{serverUrl}}</p>
  </div>

  <div *ngIf='tracking' class="dot-container">
    <span class="dot dot-animation"></span>
    <p>{{currentPosition}}</p>
  </div>
  <app-error [error]="error"></app-error>
</div>